name: CI Build
on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]
permissions:
  # Required for OIDC authentication to npm (https://docs.npmjs.com/trusted-publishers)
  id-token: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build and NPM Publish
        run: ./bs publish --buildNum=$GITHUB_RUN_NUMBER
      - name: Capture version
        run: echo "VERSION=$(./yarn run --silent target printNpmVersion --buildNum=$GITHUB_RUN_NUMBER --silence-buildLog 2> /dev/null)" >> $GITHUB_ENV
      - name: GH Release
        uses: softprops/action-gh-release@v1
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          tag_name: ${{ env.VERSION }}
          generate_release_notes: true
          files: out/*.tgz
